<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://use.typekit.com/dfp5tbm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="header">
      <h1>Flakey.js</h1>
    </div>
    
    <div id="content">
      {% block content_body %}{% endblock %}
    </div>
    
    <div id="footer">
      <ul>
        <li><a href="/"></a>Home</li>
        <li><a href="https://github.com/crgwbr/flakeyjs">GitHub</a></li>
        <li><a href="/docs/">Documentation</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
    </div>
  </body>
</html>